<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="LayoutPadrao">
<head>
	<title>Manutenção de Clientes</title>
</head>
<section layout:fragment="conteudo">
	<div id="main" class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">Cadastro de Clientes</h1>
			</div>
			<div class="panel-body">
				<form class="form-inline" method="POST" th:object="${cliente}" th:action="@{/clientes}">
					<div class="alert alert-success alert-dismissable fade in" th:if="${!#strings.isEmpty(mensagem)}">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<span th:text="${mensagem}"></span>
					</div>
					<div class="alert alert-danger alert-dismissable fade in" th:if="${#fields.hasAnyErrors()}">
						<div th:each="detailedError : ${#fields.detailedErrors()}">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<span th:text="${detailedError.message}"></span>
						</div>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Nome" th:field="*{nome}" />
						<input type="text" class="form-control" placeholder="Telefone" 
							th:field="*{telefone}" />
						<input type="text" class="form-control" placeholder="Email" th:field="*{email}" />
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</form>
			</div>
		</div>	
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">Listagem de Clientes</h1> 
			</div>
			<div class="panel-body">
				<div class="input-group h2 col-md-4">
					<input class="form-control" id="search" type="text" placeholder="Pesquisar Clientes" />
				</div>
				<div id="list" class="row">
					<div class="table-responsive">
						<table class="table table-borded table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Nome</th>
									<th>Telefone</th>
									<th>Email</th>
									<th>Ações</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="cliente : ${clientes}">
									<td th:text="${cliente.id}"></td>
									<td th:text="${cliente.nome}"></td>
									<td th:text="${cliente.telefone}"></td>
									<td th:text="${cliente.email}"></td>
									<td>
										<a class="btn btn-success btn-xs" href="#">Editar</a>
										<a class="btn btn-danger btn-xs" href="#">Excluir</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</html>