<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Financeiro</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
</head>    
<body>
	<header layout:include="Cabecalho"></header>
	<section layout:fragment="conteudo">
		<h3 class="page-header">Bem Vindo!</h3>
	</section>
</body>
</html>