<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Manutenção de Recebimentos</title>
</head>
<section layout:fragment="conteudo">
	<div id="main" class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">Cadastro de Recebimentos</h1>
			</div>
			<div class="panel-body">
				<form class="form-inline" method="POST" th:object="${recebimento}" th:action="@{/recebimentos}">
					<div layout:include="MensagemSucesso"></div>
					<div layout:include="MensagemErro"></div>
					
					<div class="form-group">
						<select class="form-control" th:field="*{cliente}">
							<option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nome}" />
						</select> 
						<input type="text" class="form-control" placeholder="Data" th:field="*{data}" 
							data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
							data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="botton" />
						<input type="text" class="form-control js-currency" placeholder="Valor" th:field="*{valor}" />
						<input type="text" class="form-control" placeholder="Histórico" th:field="*{historico}" /> 
						<select class="form-control" name="status">
							<option th:each="status : ${todosStatus}" th:value="${status}" th:text="${status.descricao}" />
						</select>
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</form>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">Listagem de Recebimentos</h1>
			</div>
			<div class="panel-body">
				<div class="input-group h2 col-md-4">
					<input class="form-control" id="filtra-tabela" type="text" placeholder="Pesquisar Clientes" />
				</div>
				<div id="list" class="row">
					<div class="table-responsive">
						<table class="table table-borded table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Cliente</th>
									<th>Data</th>
									<th>Valor</th>
									<th>Histórico</th>
									<th>Status</th>
									<th>Ações</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="recebimento : ${recebimentos}" 
										th:classappend="${recebimento.cancelado ? ' entidade cancelado' : 'entidade'}">
									<td th:text="${recebimento.id}"></td>
									<td th:text="${recebimento.cliente}" class="info-nome"></td>
									<td th:text="${{recebimento.data}}"></td>
									<td th:text="|R$ ${{recebimento.valor}}"></td>
									<td th:text="${recebimento.historico}"></td>
									<td th:attr="data-role=${recebimento.id}">
										<span class="label" th:text="${recebimento.status.descricao}"
											th:classappend="${recebimento.pendente ? 'label-danger' : 'label-success'}"></span>
									</td>
									<td>
										<a class="btn btn-warning btn-xs" th:if="${recebimento.pendente and !recebimento.cancelado}"
												th:href="@{/recebimentos/receber/{id}(id=${recebimento.id})}">
											Receber
										</a> 
										<a class="btn btn-danger btn-xs" th:if="${!recebimento.cancelado and recebimento.pendente}" 
												th:href="@{/recebimentos/cancelar/{id}(id=${recebimento.id})}">
											Cancelar
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</html>
